<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="900">
    <title>Roomdash</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
</head>
<body>
    <header id="site-title">
        <span>@Html.ActionLink("ROOMDASH", "Index", "Home")</span>
        <span id="stats"></span>
    </header>
    @RenderBody()
    <footer>
        <span id="credits">
            <a href="http://gusperez.com/wp/roomdash">About Roomdash</a> 
            &middot; <a href="http://twitter.com/gusper"><img src="~/Images/twitter.png" height="18" width="18" style="vertical-align: bottom"/> @@gusper</a></span>
        <span id="last-refresh"></span>
    </footer>

    @Scripts.Render("~/bundles/jquery", "~/bundles/jquery-tmpl", "~/bundles/masonry", "~/bundles/main")
    @RenderSection("scripts", required: false)
</body>
</html>
